.heading{
    margin-top: 50px;
    width: 100%;
    max-width: 28rem;
    text-align: center;
    background-color: #e939cb;
    border-radius: 50px;
    border-color: pink;
    padding: 15px;
}

.login-container{
    margin-top: 50px; /* Moves the container down by 100 pixels */
    display: flex;
    align-items: center;
    justify-content: center;
    
}